.head1{
    background-color:cornflowerblue;
    background-image: url(images/beach_sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    box-shadow: 1px 1px 2px #ccc;

}
.head1 h1{
    font-family: 'Alkatra', cursive;
    text-shadow: 1px 1px 2px #000;
}
nav{
    background-image: linear-gradient(rgb(73, 90, 99) ,rgb(157, 157, 157));
    box-shadow: 1px 1px 2px #d3cdcd;
}
ul .active{
    background-color: gray!important;
}
.post h6{
    margin-left: 32px;
    font-size: 10px;
}
.story{
    box-shadow: 1px 1px 2px rgb(157, 157, 157);
    padding: 10px;
}
.phone{
    width: 800px;
    height: 760px;
    margin-bottom: 400px;
    margin-left: 20px;
}
body{
    background-color: #fff!important;
}
.container{
    margin-top: 20px;
}
.right-column{
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 40px;
}

.info{
    font-weight: 600px;
    line-height: 20px;
    font-size: 17px;
    color: #999;
}
.right-column a{
    text-decoration: none;
}
h6 img{
    height: 18px !important;
    padding: 0 8px 2px;
}

.or{
    font-size: 13px!important;
    color: #4c4c4c;
    font-weight: 600px;
}
.or::before{
    content: '';
    background: #cccccc;
    display: block;
    height: 1px;
    width: 110px;
    position: relative;
    top: 11px;
}
.or::after{
    content: '';
    background: #cccccc;
    display: block;
    height: 1px;
    width: 110px;
    position: relative;
    bottom: 10px;
    left: 160px;
}

.profile{
    width:270px;
}
.button{
    width: 270px;
}
::placeholder{
    font-size: 12px;
}
.right-column-login{
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 20px;
}
.right-column-login a{
    text-decoration: none;
}
.container-fluid{
    margin-top: 50px;
    margin-left: 550px;
}
h1{
    font-family:'Alkatra' ;
}
button img{
    height: 18px !important;
    padding: 0 8px 2px;
}
.p{
    color: #747070;
    font-weight: 500;
    font-size: 16px;
}
.p1{
    font-size: 12px;
    color: #747070;
}